
.slider2 {
  margin: 0 auto;
  max-width: 940px;
  background-color:white;
}

.slide_viewer2 {
  height: 340px;
  overflow: hidden;
  position: relative;
}

.slide_group2 {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide2 {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide2:first-child {
  display: block;
}


.slide_buttons2 {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn2 {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn2.active, .slide_btn2:hover {
  color: #428CC6;
  cursor: pointer;
}

.previous_btn2 {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn2 {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn2, .next_btn2 {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn2:hover, .next_btn2:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn2 {
    left: 50px;
  }
  .next_btn2 {
    right: 50px;
  }
}
.slide_btn2{
  border-bottom-color:white;
}

.directional_nav2 {
  height: 475px;
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  top: -340px;
  margin-bottom:-370px !important;
}
@media all and (max-width: 600px){
  .slide_buttons2, .slide_buttons{
    position:relative !important;
  }
}
